.nav-link {
  text-decoration: none;
  color: #374151;
  padding: 4px 6px;
}
.tdl{
    text-decoration: none;
}


.nav-link:hover {
  color: black;
}


.btn-red {
  background-color: #ef4444;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
}

.btn-red:hover {
  background-color: #ef4444;
  color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}